.cart-container{
    margin: 1rem 0px;
}
.grid-container{
    border-bottom: 1px solid #b3b3b3;
    margin-top: 0.5rem;
}
.div-img-item{
    display: flex;
    align-content: center;
    justify-content: center;
}
.img-item{
    width: 75%;
}
.h2-item{
    background-color: #e9e8e8;
    border-bottom: 1px solid #b3b3b3;
    padding: 0px 1rem;
    margin: 0px;    
}
.p-group{
    margin-top: 2rem; 
}
.p-item{
    margin:0.5rem 0px;
    padding: 0px 1rem;
    font-weight: bold;
    font-style:italic;
}
.p-variable{
    display: inline;
    font-weight: normal;
    font-style:normal;
}
.div-list{
    align-content: flex-end;
}
.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem; 
    margin-top: 3rem;  
}
.list-group-item{
    display: flex;
    position: relative;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.125);
}
.cart-delete-btn{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
.cart-delete-btn .cart__btn:hover{
    background-color: lightslategray; 
}

.div-btn-ItemDelete{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-btn-ItemDelete .cart__btnItem:hover{
    background-color: lightslategray;
}

.link-end{
    color: white;
    text-decoration:none;
}

.form-container{
    border: 1px solid #b3b3b3;
    margin-top: 1rem;
    padding: 0px 1rem 1rem 1rem;
}
.form__h2{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.form__div{
    padding:0.25rem 0px 0.25rem 0px;
}
.form__btncontainer{
    display: inline-flex;
    align-items: center;
    padding:0.25rem 0px 0.25rem 0px;
}
.form__divbtn{
    display: inline-flex;
    padding-right: 0.5rem;
}
.form__label{
    display: inline-block;
    width: 9rem;
}
.form__input{
    width: 13rem;
}
.form-container .form__btn:hover{
    background-color: lightslategray;
}