.menuindex{
    background-image: url("../../../public/fondo.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.menuindex h2 {
    font-weight: bold;
    color: lightslategrey;
    background-color: rgba(255, 255, 255, 0.818);
    padding: 5px 30px 5px 30px;
    position: absolute;
    top: 45%;
    margin: 0px 2rem;    
}

.link-end{
    color: white;
    text-decoration:none;
}

.menuindex .home_container{
    position: absolute;
    top: 55%; 
    margin: 0px 2rem;
}
.menuindex .home_container .home__btn:hover{
    background-color: lightslategray;
}