@keyframes rotate-center {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } 
}
.container-logo{
  display: flex;
  padding: 5px 0px;
  align-items: center;
}
.container-logo h1{
  color: white;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container-logo h1 span{
  margin: 0px 2rem;
}
.nav-logo-img{
  padding: 5px 0px;
  animation: rotate-center 2s ease-in both;
}
.container-list{
  display: flex; 
  align-items: center;
}
.container-list ul{
  list-style: none;
}
.container-list ul li{
  display: inline-block;
  margin: 0px 1rem;
}
.container-list .navbar__btn{
  font-size: 16px;
  font-weight: 500;
}
.container-list .navbar__btn:hover {
  background-color: lightslategray; 
}
.container-list .carrito__btn{
  margin: 0px 0px 0px 7rem;      
}
.container-list .carrito__btn:hover{
  background-color:cadetblue;    
}