.footer_h3{
  text-decoration: underline;
}
.footer__list {
  list-style: none;
  color: white;
  padding-left: 0rem;
  padding-right: 0rem; 
}

.footer_flex{
  display: flex;
}
.footer-item{
  padding-right: 1rem;
}

.footer-posicionamiento{
  position:fixed;
  bottom: 0;
  width: 100%;
}